header{
    display: flex;
    
}

body{
    background-color: yellow;
    background-repeat: none;
}

.navbar{
    background-color: green;
    display: flex;
    list-style: none;
    width:75%; 
}

.navbar li{
    background-color: rgb(255, 0, 0);
    margin: 15px;
    padding: 5px;
}

.navbar li a{
    text-decoration: none;
    padding-right: 10px;
    background-color: aliceblue;
    color: black;
    float: left;
    margin-top: 20px;

}

.navbar li a:hover{
    transition-duration: 1.2s;
    background-color: black;
    color: white;
}

.searchBar{
    background-color: blanchedalmond;
    display: flex;
    list-style-type: none;
    margin: 10px;
    align-items: center;
}
.searchBar .bar_one{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width:180px;
}

.searchBar button{
    background-color: black;
    color: aliceblue;
    margin: 10px 10px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
}

/* section */
.intro{
    display: flex;
}

/* social bar */
.sideSocial{
    background-color: none;
    width:20%;
    height: 300px;
    display: flex;
    justify-content: center;
}

.sideSocial-fb{
    width: 50px;
    height:10%;
    background-color: blue;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.mainTitle{
    background-color: red;
    display: block;
    width:200px;
    height: fit-content;
}
.mainTitle h1{
    font-size: 50px;
}

.subTitle{
    width: 500px;
    display: flex;
    background-color: aqua;
    padding-left: 20%;
    height: 250px;
}