*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header{
    display: flex;
    
}

body{
    background-color: yellow;
    background-repeat: none;
}

.navbar{
    background-color: green;
    display: flex;
    list-style: none;
    width:500px; 
}

.navbar li{
    background-color: rgb(255, 0, 0);
    margin: 15px;
    padding: 5px;
}

.navbar li a{
    text-decoration: none;
    padding-right: 10px;
    background-color: aliceblue;
    color: black;
    float: left;
    margin-top: 20px;

}

.navbar li a:hover{
    transition-duration: 1.2s;
    background-color: black;
    color: white;
}

.searchBar{
    background-color: blanchedalmond;
    display: flex;
    list-style-type: none;
    margin: 10px;
    align-items: center;
    position: absolute;
    right: 0;
    width: 400px;
}

.searchBar .bar_one{
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    width:180px;
}

.searchBar button{
    background-color: black;
    color: aliceblue;
    margin: 10px 10px;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
}

/* section */
.intro{
    display: flex;
}

/* social bar */
.sideSocial{
    background-color: orange;
    width:36px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 25px;
}

.sideSocial-fb{
    width: 35px;
    height: 35px;
    background-image: url("./img/logo-facebook-png-46264.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.sideSocial-tw{
    width: 35px;
    height: 35px;
    background-image: url("./img/twitter-icon-83.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.sideSocial-ig{
    width: 35px;
    height: 35px;
    background-image: url("./img/instagram-icon-971.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.sideSocial-yt{
    width: 35px;
    height: 35px;
    background-image: url("./img/youtube-logo-png-3566.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.mainTitle{
    background-color: red;
    display: block;
    width:300px;
    height: fit-content;
    position: relative;
    left: 163px;
}
.mainTitle h1{
    font-size: 50px;
}

.subTitle{
    width: 500px;
    display: flex;
    background-color: aqua;
    position: relative;
    left: 200px;
    height: 250px;
}